In [1]:
#Loading the Data

In [2]:
pip install pyreadstat

Requirement already satisfied: pyreadstat in /Users/danielaraffo/venv/lib/python3.13/site-packages (1.3.2)
Requirement already satisfied: narwhals>=2.0 in /Users/danielaraffo/venv/lib/python3.13/site-packages (from pyreadstat) (2.12.0)
Requirement already satisfied: numpy in /Users/danielaraffo/venv/lib/python3.13/site-packages (from pyreadstat) (2.3.3)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import ttest_ind, ttest_rel, mannwhitneyu, wilcoxon, ks_1samp, norm
from scipy.stats import shapiro, levene, kstest
import pyreadstat

In [20]:
file_path = "europa.sav"
data, meta = pyreadstat.read_sav(file_path)

In [21]:
_, meta = pyreadstat.read_sav("europa.sav")

print(meta.variable_value_labels["country"])

{3.0: 'Switzerland', 5.0: 'Italy', 10.0: 'United Kingdom', 19.0: 'Netherlands', 20.0: 'Belgium, Luxemburg'}

# We are going to Analyze Italy

In [22]:
print(data)

      respnr  country  trip  citytrip  tripsrt  citysrt  dest1  primp  \
0        1.0     19.0   2.0       0.0      0.0      0.0    9.0    2.0
1        1.0      5.0   2.0       2.0      0.0      0.0    8.0    2.0
2        1.0     10.0   1.0       1.0      0.0      0.0   13.0    4.0
3        2.0     10.0   2.0       1.0      0.0      0.0    9.0    3.0
4        2.0      5.0   2.0       2.0      0.0      0.0    9.0    2.0
...      ...      ...   ...       ...      ...      ...    ...    ...
2284  1711.0      3.0   8.0       0.0      0.0      0.0    4.0    1.0
2285  1712.0      3.0   2.0       0.0      0.0      0.0    8.0    2.0
2286  1713.0      3.0   2.0       0.0      0.0      0.0   15.0    1.0
2287  1714.0      3.0   2.0       0.0      0.0      0.0    9.0    2.0
2288  1715.0      3.0   2.0       0.0      0.0      0.0    8.0    1.0

      scountry  sresort  ...  pref31  pref41  pref51  pref61  sex   age  \
0          3.0      3.0  ...    12.0    15.0     0.0     7.0  2.0  50.0
1          1.0      1.0  ...     0.0    12.0     3.0     NaN  1.0  39.0
2          3.0      2.0  ...    15.0    19.0    16.0     NaN  1.0  53.0
3          3.0      1.0  ...     2.0    11.0     0.0     4.0  1.0  54.0
4          3.0      3.0  ...     0.0    14.0     4.0     2.0  1.0  19.0
...        ...      ...  ...     ...     ...     ...     ...  ...   ...
2284       3.0      3.0  ...     0.0     8.0    14.0     2.0  1.0  74.0
2285       2.0      2.0  ...    11.0    13.0     4.0     8.0  1.0  70.0
2286       3.0      3.0  ...     2.0    14.0     4.0    13.0  1.0  70.0
2287       3.0      3.0  ...    13.0     4.0     0.0     2.0  1.0  73.0
2288       2.0      1.0  ...     0.0    16.0    13.0    11.0  1.0  71.0

      hhsize  occup  hhincome  citysize
0        2.0    6.0       NaN       7.0
1        3.0    1.0       NaN       NaN
2        2.0    2.0       4.0       4.0
3        2.0    4.0       3.0       4.0
4        4.0    3.0       4.0       NaN
...      ...    ...       ...       ...
2284     1.0    5.0       NaN       5.0
2285     2.0    5.0       NaN       5.0
2286     2.0    5.0       NaN       5.0
2287     2.0    5.0       NaN       5.0
2288     2.0    5.0       NaN       5.0

[2289 rows x 151 columns]

In [23]:
data["country"].unique()

array([19.,  5., 10., 20.,  3.])

In [24]:
data["country"].value_counts(dropna=False)

country
10.0    601
20.0    470
5.0     418
19.0    400
3.0     400
Name: count, dtype: int64

In [13]:
print(data["country"].dtype)

float64

In [25]:
dataIT = data[data["country"] == 5]

In [26]:
print(dataIT)

      respnr  country  trip  citytrip  tripsrt  citysrt  dest1  primp  \
1        1.0      5.0   2.0       2.0      0.0      0.0    8.0    2.0
4        2.0      5.0   2.0       2.0      0.0      0.0    9.0    2.0
7        3.0      5.0  12.0       7.0     12.0      5.0    8.0    4.0
12       4.0      5.0   1.0       1.0      1.0      2.0   16.0    4.0
15       5.0      5.0   3.0       1.0      0.0      0.0    9.0    3.0
...      ...      ...   ...       ...      ...      ...    ...    ...
1423   414.0      5.0  10.0      10.0     10.0     10.0    8.0    3.0
1426   415.0      5.0   1.0       1.0      1.0      1.0    9.0    1.0
1428   416.0      5.0   2.0       2.0      2.0      2.0    4.0    1.0
1431   417.0      5.0   1.0       1.0      1.0      1.0    9.0    1.0
1435   418.0      5.0   2.0       2.0      4.0      2.0    9.0    2.0

      scountry  sresort  ...  pref31  pref41  pref51  pref61  sex   age  \
1          1.0      1.0  ...     0.0    12.0     3.0     NaN  1.0  39.0
4          3.0      3.0  ...     0.0    14.0     4.0     2.0  1.0  19.0
7          2.0      2.0  ...     2.0     4.0    19.0    12.0  1.0  34.0
12         3.0      3.0  ...    12.0     4.0     0.0     3.0  2.0  24.0
15         3.0      3.0  ...     8.0    12.0     0.0     4.0  2.0  36.0
...        ...      ...  ...     ...     ...     ...     ...  ...   ...
1423       1.0      1.0  ...    11.0    16.0     8.0     0.0  1.0  60.0
1426       1.0      1.0  ...    16.0     4.0    14.0    13.0  1.0  49.0
1428       1.0      1.0  ...     2.0    13.0    16.0     0.0  1.0  24.0
1431       2.0      1.0  ...     2.0    14.0    13.0     3.0  1.0  39.0
1435       1.0      1.0  ...     0.0    14.0    13.0    11.0  1.0  34.0

      hhsize  occup  hhincome  citysize
1        3.0    1.0       NaN       NaN
4        4.0    3.0       4.0       NaN
7        4.0    1.0       NaN       NaN
12       4.0    4.0       4.0       NaN
15       5.0    5.0       4.0       NaN
...      ...    ...       ...       ...
1423     3.0    1.0       4.0       NaN
1426     5.0    3.0       3.0       NaN
1428     5.0    4.0       4.0       NaN
1431     3.0    3.0       2.0       NaN
1435     3.0    1.0       4.0       NaN

[418 rows x 151 columns]

There are 418 rows about Italy

In [27]:
# Par A - cluster Segmentation

In [31]:
sumact_cols = [c for c in data.columns if c.startswith("sumact")]

for col in sumact_cols:
    print(col, " --> ", meta.variable_value_labels.get(col))

sumact1  -->  {1.0: 'often', 2.0: 'sometimes', 3.0: 'never'}
sumact2  -->  {1.0: 'often', 2.0: 'sometimes', 3.0: 'never'}
sumact3  -->  {1.0: 'often', 2.0: 'sometimes', 3.0: 'never'}
sumact4  -->  {1.0: 'often', 2.0: 'sometimes', 3.0: 'never'}
sumact5  -->  {1.0: 'often', 2.0: 'sometimes', 3.0: 'never'}
sumact6  -->  {1.0: 'often', 2.0: 'sometimes', 3.0: 'never'}
sumact7  -->  {1.0: 'often', 2.0: 'sometimes', 3.0: 'never'}
sumact8  -->  {1.0: 'often', 2.0: 'sometimes', 3.0: 'never'}
sumact9  -->  {1.0: 'often', 2.0: 'sometimes', 3.0: 'never'}
sumact10  -->  {1.0: 'often', 2.0: 'sometimes', 3.0: 'never'}
sumact11  -->  {1.0: 'often', 2.0: 'sometimes', 3.0: 'never'}
sumact12  -->  {1.0: 'often', 2.0: 'sometimes', 3.0: 'never'}
sumact13  -->  {1.0: 'often', 2.0: 'sometimes', 3.0: 'never'}
sumact14  -->  {1.0: 'often', 2.0: 'sometimes', 3.0: 'never'}
sumact15  -->  {1.0: 'often', 2.0: 'sometimes', 3.0: 'never'}
sumact16  -->  {1.0: 'often', 2.0: 'sometimes', 3.0: 'never'}
sumact17  -->  {1.0: 'often', 2.0: 'sometimes', 3.0: 'never'}
sumact18  -->  {1.0: 'often', 2.0: 'sometimes', 3.0: 'never'}
sumact19  -->  {1.0: 'often', 2.0: 'sometimes', 3.0: 'never'}
sumact20  -->  {1.0: 'often', 2.0: 'sometimes', 3.0: 'never'}
sumact21  -->  {1.0: 'often', 2.0: 'sometimes', 3.0: 'never'}
sumact22  -->  {1.0: 'often', 2.0: 'sometimes', 3.0: 'never'}
sumact23  -->  {1.0: 'often', 2.0: 'sometimes', 3.0: 'never'}
sumact24  -->  {1.0: 'often', 2.0: 'sometimes', 3.0: 'never'}
sumact25  -->  {1.0: 'often', 2.0: 'sometimes', 3.0: 'never'}
sumact26  -->  {1.0: 'often', 2.0: 'sometimes', 3.0: 'never'}

In [32]:
print(sumact_data.info())

<class 'pandas.core.frame.DataFrame'>
Index: 418 entries, 1 to 1435
Data columns (total 26 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   sumact1   417 non-null    float64
 1   sumact2   416 non-null    float64
 2   sumact3   416 non-null    float64
 3   sumact4   416 non-null    float64
 4   sumact5   418 non-null    float64
 5   sumact6   416 non-null    float64
 6   sumact7   417 non-null    float64
 7   sumact8   417 non-null    float64
 8   sumact9   418 non-null    float64
 9   sumact10  417 non-null    float64
 10  sumact11  417 non-null    float64
 11  sumact12  418 non-null    float64
 12  sumact13  414 non-null    float64
 13  sumact14  417 non-null    float64
 14  sumact15  416 non-null    float64
 15  sumact16  418 non-null    float64
 16  sumact17  417 non-null    float64
 17  sumact18  417 non-null    float64
 18  sumact19  418 non-null    float64
 19  sumact20  416 non-null    float64
 20  sumact21  418 non-null    float64
 21  sumact22  417 non-null    float64
 22  sumact23  417 non-null    float64
 23  sumact24  416 non-null    float64
 24  sumact25  415 non-null    float64
 25  sumact26  418 non-null    float64
dtypes: float64(26)
memory usage: 88.2 KB
None

In [33]:
print("\n=== PROPORCIONES ===")
for col in sumact_cols:
    print(f"\n{col}")
    print(sumact_data[col].value_counts(normalize=True, dropna=False))

=== PROPORCIONES ===

sumact1
sumact1
3.0    0.901914
2.0    0.069378
1.0    0.026316
NaN    0.002392
Name: proportion, dtype: float64

sumact2
sumact2
3.0    0.727273
2.0    0.169856
1.0    0.098086
NaN    0.004785
Name: proportion, dtype: float64

sumact3
sumact3
3.0    0.947368
2.0    0.038278
1.0    0.009569
NaN    0.004785
Name: proportion, dtype: float64

sumact4
sumact4
3.0    0.980861
2.0    0.009569
NaN    0.004785
1.0    0.004785
Name: proportion, dtype: float64

sumact5
sumact5
1.0    0.500000
3.0    0.339713
2.0    0.160287
Name: proportion, dtype: float64

sumact6
sumact6
3.0    0.904306
2.0    0.055024
1.0    0.035885
NaN    0.004785
Name: proportion, dtype: float64

sumact7
sumact7
3.0    0.894737
2.0    0.076555
1.0    0.026316
NaN    0.002392
Name: proportion, dtype: float64

sumact8
sumact8
3.0    0.952153
2.0    0.033493
1.0    0.011962
NaN    0.002392
Name: proportion, dtype: float64

sumact9
sumact9
3.0    0.708134
2.0    0.215311
1.0    0.076555
Name: proportion, dtype: float64

sumact10
sumact10
3.0    0.770335
2.0    0.145933
1.0    0.081340
NaN    0.002392
Name: proportion, dtype: float64

sumact11
sumact11
3.0    0.342105
2.0    0.327751
1.0    0.327751
NaN    0.002392
Name: proportion, dtype: float64

sumact12
sumact12
1.0    0.617225
2.0    0.301435
3.0    0.081340
Name: proportion, dtype: float64

sumact13
sumact13
3.0    0.724880
2.0    0.160287
1.0    0.105263
NaN    0.009569
Name: proportion, dtype: float64

sumact14
sumact14
3.0    0.454545
2.0    0.339713
1.0    0.203349
NaN    0.002392
Name: proportion, dtype: float64

sumact15
sumact15
1.0    0.444976
2.0    0.320574
3.0    0.229665
NaN    0.004785
Name: proportion, dtype: float64

sumact16
sumact16
1.0    0.595694
2.0    0.303828
3.0    0.100478
Name: proportion, dtype: float64

sumact17
sumact17
2.0    0.497608
1.0    0.332536
3.0    0.167464
NaN    0.002392
Name: proportion, dtype: float64

sumact18
sumact18
3.0    0.818182
2.0    0.122010
1.0    0.057416
NaN    0.002392
Name: proportion, dtype: float64

sumact19
sumact19
3.0    0.473684
2.0    0.301435
1.0    0.224880
Name: proportion, dtype: float64

sumact20
sumact20
3.0    0.454545
2.0    0.411483
1.0    0.129187
NaN    0.004785
Name: proportion, dtype: float64

sumact21
sumact21
3.0    0.602871
2.0    0.258373
1.0    0.138756
Name: proportion, dtype: float64

sumact22
sumact22
3.0    0.684211
2.0    0.222488
1.0    0.090909
NaN    0.002392
Name: proportion, dtype: float64

sumact23
sumact23
3.0    0.897129
2.0    0.066986
1.0    0.033493
NaN    0.002392
Name: proportion, dtype: float64

sumact24
sumact24
3.0    0.882775
2.0    0.076555
1.0    0.035885
NaN    0.004785
Name: proportion, dtype: float64

sumact25
sumact25
3.0    0.949761
2.0    0.026316
1.0    0.016746
NaN    0.007177
Name: proportion, dtype: float64

sumact26
sumact26
2.0    0.476077
1.0    0.361244
3.0    0.162679
Name: proportion, dtype: float64

In [34]:
file_path = "5.sav"
data5, meta = pyreadstat.read_sav(file_path)

In [35]:
print(data5)

     respnr  country  trip  citytrip  tripsrt  citysrt  dest1  primp  \
0       1.0      5.0   2.0       2.0      0.0      0.0    8.0    2.0
1       2.0      5.0   2.0       2.0      0.0      0.0    9.0    2.0
2       3.0      5.0  12.0       7.0     12.0      5.0    8.0    4.0
3       4.0      5.0   1.0       1.0      1.0      2.0   16.0    4.0
4       5.0      5.0   3.0       1.0      0.0      0.0    9.0    3.0
..      ...      ...   ...       ...      ...      ...    ...    ...
413   414.0      5.0  10.0      10.0     10.0     10.0    8.0    3.0
414   415.0      5.0   1.0       1.0      1.0      1.0    9.0    1.0
415   416.0      5.0   2.0       2.0      2.0      2.0    4.0    1.0
416   417.0      5.0   1.0       1.0      1.0      1.0    9.0    1.0
417   418.0      5.0   2.0       2.0      4.0      2.0    9.0    2.0

     scountry  sresort  ...  pref41  pref51  pref61  sex   age  hhsize  occup  \
0         1.0      1.0  ...    12.0     3.0     NaN  1.0  39.0     3.0    1.0
1         3.0      3.0  ...    14.0     4.0     2.0  1.0  19.0     4.0    3.0
2         2.0      2.0  ...     4.0    19.0    12.0  1.0  34.0     4.0    1.0
3         3.0      3.0  ...     4.0     0.0     3.0  2.0  24.0     4.0    4.0
4         3.0      3.0  ...    12.0     0.0     4.0  2.0  36.0     5.0    5.0
..        ...      ...  ...     ...     ...     ...  ...   ...     ...    ...
413       1.0      1.0  ...    16.0     8.0     0.0  1.0  60.0     3.0    1.0
414       1.0      1.0  ...     4.0    14.0    13.0  1.0  49.0     5.0    3.0
415       1.0      1.0  ...    13.0    16.0     0.0  1.0  24.0     5.0    4.0
416       2.0      1.0  ...    14.0    13.0     3.0  1.0  39.0     3.0    3.0
417       1.0      1.0  ...    14.0    13.0    11.0  1.0  34.0     3.0    1.0

     hhincome  citysize  CLU_4
0         NaN       NaN    2.0
1         4.0       NaN    3.0
2         NaN       NaN    3.0
3         4.0       NaN    2.0
4         4.0       NaN    2.0
..        ...       ...    ...
413       4.0       NaN    4.0
414       3.0       NaN    4.0
415       4.0       NaN    3.0
416       2.0       NaN    4.0
417       4.0       NaN    3.0

[418 rows x 152 columns]

In [37]:
from collections import Counter

# path
ruta = "cluster_5.lst.txt"

# Count
with open(ruta, "r") as f:
    numeros = [int(line.strip()) for line in f if line.strip()]

conteo = Counter(numeros)

# Mostrar resultados
for numero in sorted(conteo):
    print(f"Cluster {numero}: {conteo[numero]}")

Cluster 1: 95
Cluster 2: 143
Cluster 3: 92
Cluster 4: 88